<h2>Detalle del héroe</h2>
<form (ngSubmit)="onSubmit()" [formGroup]="heroForm" novalidate>

	<div style="margin-bottom: 1em">
		<button type="submit" [disabled]="heroForm.pristine" class="btn btn-success">Guardar</button>
		<button type="reset" (click)="revert()" [disabled]="heroForm.pristine" class="btn btn-danger">Deshacer</button>
	</div>

	<div class="form-group">
		<label class="center-block">Nombre:
			<input class="form-control" formControlName="name" />
		</label>
	</div>
	<div class="form-group radio">
		 <h4>Super power:</h4>
		<label class="center-block"><input type="radio"
		formControlName="power" value="flight">Flight</label>
		<label class="center-block"><input type="radio" formControlName="power" value="x-ray vision">X-ray vision</label>
	 	<label class="center-block"><input type="radio"
		formControlName="power" value="strength">Strength</label>
	</div>
	<div class="checkbox">
		<label class="center-block">
			<input type="checkbox" formControlName="sidekick" /> Tengo un compañero
		</label>
	</div>

	<div formArrayName="secretLairs" class="well well-lg">
		<div *ngFor="let address of secretLairs.controls; let i=index" [formGroupName]="i" >
			<h4>Base secreta #{{i+1}}</h4>
			<div class="form-group">
				<label class="center-block">Calle:
					<input class="form-control" formControlName="street" />
				</label>
			</div>
			<div class="form-group">
				<label class="center-block">Ciudad:
					<input class="form-control" formControlName="city" />
				</label>
			</div>
			<div class="form-group">
				<label class="center-block">Estado:
					<select class="form-control" formControlName="state">
						<option *ngFor="let state of states" [value]="state">{{state}}</option>
					</select>
				</label>
			</div>
			<div class="form-group">
				<label class="center-block">CP:
					<input class="form-control" formControlName="zip" />
				</label>
			</div>
		</div>

		<button (click)="addLair()" type="button">Añadir una base secreta</button>
	</div>

</form>

<p>Valor del formulario: {{ heroForm.value | json }}</p>
<p>Estado del formulario: {{ heroForm.status | json }}</p>
<p>Valor del nombre: {{ heroForm.get('name').value }}</p>
<p>Valor de la calle: {{ heroForm.get('address.street').value }}</p>